body {
    background-size: cover;
}
canvas{
    border: 5px solid darkblue ;
    border-radius: 30px;
    border-style: groove;
}
#watermark{
 position: fixed;
 bottom:15px;
 right:15px;
 opacity:0.3;
 color:rgb(206, 202, 202);
}
h1{
    background-color: rgba(152, 251, 152, 0.452);
}
#h2u{
    visibility: collapse;
}